encryption = "age"
[data]
    x11 = true
    wayland = false
    audio = true
    bluetooth = true
    development = true
    desktop = {{ if or (eq .chezmoi.hostname "archpc") (eq .chezmoi.hostname "nixpc") }}true{{ else }}false{{ end }}
    laptop = {{ if or (eq .chezmoi.hostname "archlaptop") (eq .chezmoi.hostname "nixlaptop") }}true{{ else }}false{{ end }}
    server = {{ if eq .chezmoi.hostname "debian" }}true{{ else }}false{{ end }}
    nix = {{ if or (eq .chezmoi.hostname "nixlaptop") (eq .chezmoi.hostname "nixpc") }}true{{ else }}false{{ end }}
    fonts = true
[age]
    identity = "/home/ayko/.age/key"
    symmetric = true
[git]
    autoCommit = true
    autoPush = true
[diff]
    exclude = ["scripts"]
