encryption = "age"
[data]
    x11 = true
    wayland = false
    audio = true
    bluetooth = true
    development = true
    desktop = false
    laptop = true
    server = false
    fonts = true
[age]
    identity = "/home/ayko/.age/key"
    symmetric = true
[git]
    autoCommit = true
    autoPush = true
[diff]
    exclude = ["scripts"]
