[data]
    x11 = true
    wayland = false
    desktop = {{ if ne (stat "/sys/class/power_supply/BAT0") nil }}false{{ else }}true{{ end }}
    laptop = {{ if ne (stat "/sys/class/power_supply/BAT0") nil }}true{{ else }}false{{ end }}
    nix = {{ if eq .chezmoi.osRelease.id "nixos" }}true{{ else }}false{{ end }}
    uni = {{ if eq .chezmoi.osRelease.id "ubuntu" }}true{{ else }}false{{ end }}
    graphical = {{ if eq .chezmoi.hostname "kumo" "jinko" }}false{{ else }}true{{ end }}
[git]
    autoCommit = true
    autoPush = true
[diff]
    exclude = ["scripts"]
