*
!.gitignore
!.zshrc
!.zshenv
!.bashrc
!.dircolors.bak
!.xprofile
!.XCompose

!.zsh
!.zsh/**

!.mozilla
!.mozilla/firefox
!.mozilla/firefox/profile.ayko
!.mozilla/firefox/profile.ayko/chrome
!.mozilla/firefox/profile.ayko/chrome/userChrome.css
!.mozilla/firefox/profile.ayko/user.js

!.config

!.config/bat
!.config/bat/**

!.config/kitty
!.config/kitty/**

!.config/lf
!.config/lf/lfrc
!.config/lf/icons

!.config/lsd
!.config/lsd/icons.yaml

!.config/nvim
!.config/nvim/**
.config/nvim/lazy-lock.json

!.config/hypr
!.config/hypr/**
