/** General **/
.bar_class { 
    border: $border-size solid $bg1;
    background-color: $bg;
    border-radius: 0px;
    margin: 10px;
    margin-bottom: 5px;
    padding: 4px;
}

.clock_time {
    margin-right: 4px;
    font-size: $font-size;
}

.wifi,
.bluetooth {
    // background-color: red;
}

.wifi-label,
.bluetooth-label {
    // background-color: cyan;
    margin-left: 6px;
    font-size: $font-size;
}

.wifi {
}

.wifi-icon {
    font-size: $icon-size;
    padding-right: 9px;
}

// bluetooth
.bluetooth {
}

.bluetooth-icon {
    font-size: $icon-size;
    padding-right: 1px;
}

.separator {
    color: $bg1;
    font-size: $font-size;
    margin: 0 8px;
}

.battery_percentage {
    font-size: $font-size;
}

// #----- workspaces -----#
.workspaces-widget {
    font-size: 28px;
    color: $bg1;
}

.workspace-entry {
    margin: 0 12px;
}

.workspace-entry.occupied {
    color: $fg;
}

.app-name {
    color: $fg;
    font-size: 18px;
    font-weight: bold;
}

// vertical align offset
.right_modules {
    margin-top: 2px;
}
