[Desktop Entry]
Name=VIA
Exec=env DESKTOPINTEGRATION=false /usr/bin/via --no-sandbox --enable-features=UseOzonePlatform --ozone-platform=wayland %U
Terminal=false
Type=Application
Icon=via-nativia
StartupWMClass=VIA
X-AppImage-Version=3.0.0
Comment=Yet another keyboard configurator
Categories=Development;
