[Desktop Entry]
Encoding=UTF-8
Type=Application
Icon=vmware-horizon
Exec=env GTK_THEME="Raleigh" vmware-view %u
MimeType=x-scheme-handler/vmware-view
Categories=Application;Network;
Name=VMware Horizon Client
Comment=Connect to VMware Horizon View virtual machines
