// Calendar
.cal {
    background-color: $Background;
    border: $Border-size solid $Surface1;
    font-family: JetBrainsMono Nerd Font;
    font-size: 22px;
    font-weight: normal;
    border-radius: 15px;

    .cal-in {
        padding: 10px 10px 10px 10px;
        color: $Primary;

        .cal {
            &.highlight {
                padding: 20px;
            }

            padding: 10px 10px 10px 10px;
            margin-left: 10px;
        }
    }
}

calender {
    color: $Red;
}

calendar:selected {
    color: $Red;
}

calendar.header {
    font-family: JetBrainsMono Nerd Font;
    color: $Purple;
    font-weight: bold;
}

calendar.button {
    color: $Purple;
    font-weight: bold;
}

calendar.highlight {
    color: $Red;
    font-weight: bold;
}

calendar:indeterminate {
    color: $Grey;
}
