.side {
    border: $Border-size solid $Surface1; 
    background-color: $Background;
    padding: 15px 15px 15px 15px;
    border-radius: 15px;
    margin: 65px 15px 15px 15px;
}

.buttons {
    opacity: 1;
    background-color: $Alt-background;
    border-radius: 12px;
    padding: 15px;
    font-family: FiraCode Nerd Font;
    // margin-bottom: 30px;
    // box-shadow: 0px 0px 6px 6px rgb(0, 0, 0, .4);
}

.poweroff,
.reboot,
.firmware,
.exit,
.restart {
    margin:  0px;
    padding: 8px 12px;
    padding-right: 20px;
    font-family: FiraCode Nerd Font;
    font-size: 28px;
    background-color: $Primary;
    border-radius: 16px 8px;
}

.poweroff {
    background-color: $Red;
    color: $Background;
}

.reboot {
    background-color: $Green;
    color: $Background;
}

.exit {
    background-color: $Yellow;
    color: $Background;
}

.firmware {
    color: $Primary;
    background-color: $Background;
}

.restart {
    color: $Primary;
    background-color: $Background;
}

.fetch {
    font-size: 20px;
    border-radius: 12px;
    background-color: $Alt-background;
    padding: 30px 55px 30px 55px;
    // box-shadow: 0px 0px 6px 6px rgb(0, 0, 0, .4);
}

.wm,
.host,
.uptime,
.packages,
.kernal {
    font-family: Mononoki Nerd Font;
}

.wm {
    font-weight: bold;
    color: $Primary;
}

.host {
    font-weight: bold;
    color: $Primary;
}

.uptime {
    font-weight: bold;
    color: $Primary;
}

.packages {
    font-weight: bold;
    color: $Primary;
}

.kernal {
    font-weight: bold;
    color: $Primary;
}
