.sys_sep {
    color: $Alt-background;
    font-size: 18;
    margin: 0px 10px 0px 10px;
}

.sys_text_bat_sub,
.sys_text_mem_sub {
    font-size: 16;
    color: $Primary;
    margin: 2px 0px 0px 25px;
}

.sys_text_bat,
.sys_text_mem {
    font-size: 21;
    font-weight: bold;
    margin: 0px 0px 0px 25px;
}

.sys_icon_bat,
.sys_icon_mem {
    font-size: 30;
    margin: 30px;
}

.sys_win {
    background-color: $Background;
    border: 3px solid $Surface1;
    border-radius: 15px;
}

.sys_bat {
    color: $Green;
    background-color: $Alt-background;
    border-radius: 10px;
}

.sys_mem {
    color: $Orange;
    background-color: $Alt-background;
    border-radius: 10px;
}

.sys_icon_bat,
.sys_text_bat {
    color: $Green;
}

.sys_icon_mem,
.sys_text_mem {
    color: $Orange;
}

.sys_bat_box {
    border-radius: 16px;
    margin: 15px 10px 0px 20px;
}

.sys_mem_box {
    border-radius: 16px;
    margin: 10px 10px 15px 20px;
}
