* {
    BG:    #080808ff;
    BGA:   #ffffffff;
    FG:    #ffffffff;
    FGA:   #555555ff;
    BDR:   #555555ff;
    SEL:   #080808ff;
    UGT:   #555555ff;
    IMG:   #555555ff;
    OFF:   #555555ff;
    ON:    #555555ff;
}
